/* ResultModal.css */

.overlay {
    background-color: rgba(0, 0, 0, 0.85);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.5s ease-in-out;
    z-index: 50;
}

.modal {
    position: absolute;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    border: 2px solid hsl(var(--border));
    border-radius: 10px;
    padding: 20px;
    width: fit-content;
    max-height: 90vh;
    text-align: center;
    overflow: auto;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
